.article-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    height: auto;
    overflow: auto;
    width: 80vw;
    margin: 40px;
    border-radius: 10px;

   
}

#user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    margin-right: 10px;
}

.userCard {
    cursor: pointer;
}

.navLogin {
    display: flex;
    justify-content: center;
}

.logoutButton {
    height: 20%;
    margin-left: 10px;
    align-self: center;

}